@import "bootstrap/less/bootstrap.less";
@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";

@import "bootstrap/less/accordion.less";
@import "bootstrap/less/buttons.less";
@import "bootstrap/less/component-animations.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/layouts.less";
@import "bootstrap/less/scaffolding.less";
@import "bootstrap/less/sprites.less";
@import "bootstrap/less/type.less";
@import "bootstrap/less/wells.less";

.item { margin: 0 15px 15px 0; }
.bottom_container { height: 330px !important; overflow: hidden; margin-bottom: 15px;}
body { padding: 30px 0; }
.home-lead { margin: 39px 0; }
li .well { margin-top: 10px; }
.nav-tabs li a { font-size: 18px; }