@import "variables.less";
@import "bootstrap/less/bootstrap.min.less";

.item { margin: 0 15px 15px 0; float: left; }
.bottom_container { height: 330px !important; overflow: hidden; margin-bottom: 15px;}
.home-lead { margin: 39px 0; }
li .well { margin-top: 10px; }
.nav-tabs li a { font-size: 18px; }
#header { margin-bottom: 15px; }
img { max-width: 100%; }