django
south
django-suit
simplejson==2.1.2
-e git+https://github.com/chriscauley/sorl-thumbnail.git#egg=sorl-thumbnail
django-devserver
psycopg2
django-registration==0.8
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
django-password-reset
django_compressor
requests
