{% extends "base.html" %}
{% block content %}
<h2>Place Reddit - Django plugin (sorl-thumbnail fork)</h2>
<div class="row">
  <div class="span8" class="item">
    <ol>
      <li>
        Remove sorl and install forked version.
        <div class="well">
          $ pip uninstall sorl-thumbnail
          <br />
          $ pip install -e git+git://github.com/chriscauley/sorl-thumbnail.git#egg=sorl-thumbnail
        </div>
      </li>
      <li>
        Add the following line to your settings file.
        <div class="well">
          THUMBNAIL_DUMMY_SOURCE = 'placereddit'
        </div>
      </li>
      <li>
        Add the following setting to customize the images.
        <div class="well">{% if nsfw %}
          THUMBNAIL_DUMMY_SUBREDDITS = ['nsfw/girlswithneonhair','nsfw/gonewild']{% else %}
          THUMBNAIL_DUMMY_SUBREDDITS = ['aww','ferrets,'cats']{% endif %}
        </div>
      </li>
    </ol>
  </div>
  {% for w,h in sizes %}
  <img src="/{{ r }}/{{ slug }}/{{ w }}x{{ h }}_{{ randint }}" width="{{ h }}" height="{{ w }}"
       style="margin: 0 10px 10px 0; float: left;" class="item"/>
  {% endfor %}
</div>
{% endblock %}
