{% extends "base.html" %}
{% block content %}
<h2>Place Reddit - All Available Subreddits</h2>
<p class="lead">
  The following subreddits are now live. Please contact me if you would like to see one added to this list.
</p>
<div class="row" style="text-align: center">
  {% for sr in subreddits %}
  <div class="span3">
    <div class="well">
      <a href="{{ sr.get_absolute_url }}"><img src="{{ sr.get_absolute_url }}180x165_0" width="180" height="165" /></a>
      <a href="{{ sr.get_absolute_url }}">{{ sr.slug }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
