{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs">
  <li><a href="#home" data-toggle="tab">Home</a></li>
  <li><a href="#use" data-toggle="tab">How to Use</a></li>
  <li><a href="#work" data-toggle="tab">How it Works</a></li>
  <li><a href="#subreddits" data-toggle="tab">List of Subreddits</a></li>
  <li><a href="#django" data-toggle="tab">Django Plugin (sorl)</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <h2>Place Reddit - Infinite Placeholder Images</h2>
    <div class="span6">
      <p class="lead">
        Place Reddit is an easy and exciting way to get varied pictures for your development/design needs.
      </p>
      <div class="well" style="white-space: pre">
Like this: http://placereddit.com/r/{{ subreddit.slug }}/100x75

Or this:   http://placereddit.com/r/{{ subreddit.slug }}/100x75_1

Or this:   http://placereddit.com/r/{{ subreddit.slug }}/100x75_2

...

...

Or this:   http://placereddit.com/r/{{ subreddit.slug }}/100x75_80

Eath number returns a different image from the selected subreddit!
      </div>
    </div>
  </div>
  <div class="tab-pane" id="use">
    <h2>Place Reddit - How to Use</h2>
    Django projects can just add two settings and switch to
    <a href="http://github.com/chriscauley/sorl-thumbnail">my fork of sorl-thumbnail</a>.
  </div>
  <div class="tab-pane" id="work">
    <h2>Place Reddit - How it works</h2>
    <p>
      I tirelessly surf reddit 24/7 to find the best images from each subreddit
      and then personally crop them by hand and serve them to you.
    </p>
    <p>
      Just kidding, it's actually very simple.
    </p>
    <ol>
      <li>
        A script parses http://imgur.com/r/SUBREDDIT/rss every 6 hours.
      </li>
      <li>
        After dowloading, the entropy of each image is cached.
      </li>
      <li>
        When a request is made an image is selected at random from the latest 80 images from each subreddit.
      </li>
      <li>
        The image is cropped to the appropriate dimensions and sent out.
      </li>
      <li>
        Results are cached for 1 hour to help speed along repeated views.
      </li>
    </ol>
  </div>
  <div class="tab-pane" id="subreddits">
    <h2>Place Reddit - How it works</h2>
    <p class="lead">
      The following subreddits are now live. Please contact me if you would like to see one added to this list.
    </p>
    <div class="row" style="text-align: center">
      {{subreddits}}
      {% for sr in subreddits %}
      <div class="span3">
        <div class="well">
          <a href="{{ sr.get_absolute_url }}"><img src="{{ sr.get_absolute_url }}180x165_0" width="180" height="165" /></a>
          <a href="{{ sr.get_absolute_url }}">{{ sr.slug }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane" id="django">...</div>
</div>
<div class="span2">
  {% for w,h in sizes %}
  {% with randint as r %}
  <img src="{{ w }}x{{ h }}_{{ r }}" width="{{ w }}" height="{{ h }}"
       alt="{{ w }}x{{ h }}_{{ r }}" title="{{ w }}x{{ h }}_{{ r }}" />
  {% endwith %}
  {% endfor %}
</div>
{% endblock %}
