{% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/base.less" />
    {% endcompress %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}less/bootstrap/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}less/bootstrap/js/bootstrap-tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery.masonry.min.js"></script>
    <!--[if IE 7]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
      <link rel="stylesheet" type="text/css" href="/static/design/ie8.css"/>
    <![endif]-->

    {% block extrahead %}{% endblock %}
    {% block extra-head %}{# compromise =D #}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PlaceReddit</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {# <li><a href="/{{ r }}/{{ slug }}/how_to_use/">How to Use</a></li> #}
            {# <li><a href="/{{ r }}/{{ slug }}/how_it_works/">How it Works</a></li> #}
            <li><a href="/{{ r }}/{{ slug }}/list_of_subreddits/">List of Subreddits</a></li>
            <li><a href="/{{ r }}/{{ slug }}/django/">Django Plugin (sorl)</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="wrapper" class="container">
      <div id="content">
	{% block content %}
	<div id="main">{% block main %}{% endblock %}</div>
	<div id="side">{% block side %}{% endblock %}</div>
	{% endblock %}
      <div id="footer">{% include "footer.html" %}</div>
    </div>
      <script type="text/javascript">
$(function(){
  $('.side_container').masonry({
    // options
    itemSelector : '.item',
    columnWidth : 115,
  });
  $('.bottom_container').masonry({
    // options
    itemSelector : '.item',
    columnWidth : 117,
  });
});
      </script>
  </body>
</html>
